<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="name">Item Name</label>
        <input type="text" name="name"/>
        <label for="description">Item Description</label>
        <input type="text" name="description"/>
        <label for="id">Item ID</label>
        <input type="text" name="id"/>
        <label for="uuid">Item UUID</label>
        <input type="text" name="uuid"/>
      <button type="submit">Submit</button>
    </form>
</body>
</html>